<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="logs/internal-nlog.log">

    <variable name="logLayout" value="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}" />

    <targets>
        <target xsi:type="File" name="fileTarget" fileName="logs/app-${shortdate}.log"
                layout="${logLayout}"
                archiveEvery="Day"
                archiveFileName="logs/archives/app.{#}.log"
                archiveNumbering="Date"
                archiveDateFormat="yyyy-MM-dd"
                maxArchiveFiles="7" />

        <target xsi:type="Console" name="consoleTarget" layout="${logLayout}" />
    </targets>

    <rules>
        <logger name="*" minlevel="Debug" writeTo="fileTarget" />
        <logger name="*" minlevel="Info" writeTo="consoleTarget" />
    </rules>
</nlog>